<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <form action="/">
    <div>
     请输入昵称<input type="text" name="name">
    </div>
    <div>
    请输入密码<input type="number" name="password">
    </div>
    <input type="submit" value="提交">
    </form>
  </body>
</html>
